@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background: url("../public/images/subtle-prism.svg") no-repeat center center
    fixed;
}

.btn {
  border-radius: 0 0 0.5rem 0.5rem;
}

.ticker:hover .btn {
  opacity: 1;
}

form > input {
  border-radius: 0.5rem 0 0 0.5rem;
}

form > button {
    border-radius: 0 0.5rem 0.5rem 0;
}

/* .ticker > div > svg {
  width: 40px;
  height: 30px;
  display: block;
} */